{{> head }}


{{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Tatto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut illo aliquam dolorum temporibus explicabo labore et assumenda quas, hic quo nihil at molestiae earum eaque tempora obcaecati. A, consequatur ducimus.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/pic.jpg" class="img-thumbnail">
        </div>
    </div>


{{> footer }}